.title-wrapper{
	display: inline-block;
	overflow: hidden;
	position: absolute;
    overflow: hidden;
    left: 70px;
    width: 100%;
    // width: calc(100% - 70px - 120px);
	.title-list {
		position:relative;
		display:block;
		list-style:none;
		margin: 0;
		padding: 0;
		padding-right: 20px; 
		height: 160px;
		width: 100%;
		li{
			width: 100%;
		}
	}
	.not-clone{
		// transition: left 0.4s linear;
	}

	.title-list.cloned {
		position:absolute;
		top:0;
		left:0;
		margin: 0;
	}
	.title-list li {
		float:left;
		font-size:30px;
		position: absolute;
		.article_artist{
			display: block;
		    white-space: nowrap;
		}
		.article_title{
			display: block;
		}
	}
}

 





.read_category{
	overflow: hidden;
	.read_top{
		overflow: hidden;
		.page_title_container{
			.page_title{
				display: inline-block;
				font-size: 18px;
				line-height: 76px;
				padding: 0 22px;
				text-transform: uppercase;
				width: calc(100% - 144px);
				float:left;
			}
		}
		.switch{
			width: 144px;
			display: none;
		}
	}
}

.listen_category{
	.listen_top{
		overflow: hidden;
		.page_title_container{
			.page_title{
				display: inline-block;
				font-size: 18px;
				line-height: 76px;
				padding: 0 22px;
				text-transform: uppercase;
				width: calc(100% - 144px);
				float:left;
			}
		}
		.switch{
			width: 144px;
			display: none;
		}
	}
	.category{
		.category_container{
			padding: 0;
			.article{
				width: 100%;
				padding: 0;
				margin: 0;
				a{
					display: block;
					padding: 0 30px;
					padding-left: 0;
				}
				.article_container{
					line-height: 75px;
					border-bottom: 1px dashed $light-grey;
					.icon-container{
						width: 70px;
					    display: inline-block;
					    position: relative;
					    height: 100%;
					    top: 0;
					    position: absolute;
					    background: white;
					    z-index: 99;
					    display: block;
						.icon-play{
							position: absolute;
							top: 45px;
    						left: 24px;
							display:inline-block;
							width: 26px;
							height: 26px;
							border-radius: 100px;
							border: 2px solid $black;
							font-size: 10px;
							text-align: center;
							line-height: 23px;
							color: $black;
							z-index: 99	;
							&:before{
								margin-left:3px;
							}
						}
					}
					.date_container{
						position: absolute;
						right: 0px;
						top: 0;
						width: 120px;
						background-color: white;
						height: 100%;
    					display: block;
						.display_date{
						    position: absolute;
						    right: 30px;
						    top: 50%;
						    transform: translateY(-50%);	
						    margin-bottom: 0;				
						}
					}

					.article_artist{
						font-size: 27px;
						display: block;
						line-height: 72px;
						color: $black;
						margin: 0;
					}
					.article_title{
						font-size: 18px;
						line-height: 6px;
						display:block;
						color: #555555;
    					font-family: 'libre_baskervilleregular';
						span{
							color: $black;
							margin: 0 7px;
						}
					}
				}
			}
		}
	}
}
.category{
	.article{
		padding: 0 15px;
	}
	.sidebar_category{
		max-width: 232px;
		display: inline-block;
		float: left;
		width: 100%;
		.sidebar_category_filter,
		.sidebar_category_article{
			font-size: 15px;
			line-height: 56px;
			border-bottom: 1px solid $light-grey;		
			padding: 0 22px;
			&.title{
				background: url('../img/background_title.jpg');
			}
		}

		.link{
			border-bottom: 1px dashed $light-grey;	
			a{
				color: $black;
				display: block;
				padding: 20px 30px;
				font-size: 15px;
			    font-family: 'libre_baskervilleregular';

			}
		}
	}
	.category_list{
		margin: 0;
		padding: 0;
		li{
			line-height: 52px;
			list-style-type: none;
			border-bottom: 1px solid $light-grey;
			a{
				color: $black;
				font-size: 14px;
				display: block;
				padding: 0 22px;
    			font-family: 'gotham_htfmedium';
			}
		}
	}
	.category_container{
		display: inline-block;
		float: left;
		overflow: hidden;
		width: calc(100% - 232px);
		padding: 25px 15px;
		border-left: 1px solid $light-grey;	



		.article{
			display: inline-block;
			float:left;
			.article_container{
				overflow: hidden;
				display: flex;
				width: 100%;
				a{
					width: 100%;
					img{
						width: 100%;
					}
				}
			}
			&.article_two{
				width: 50%;
				.article_container.credit_container{
					.acf-media-credit{
						bottom: initial; 
						top: 240px;
					}
				}
			}
			&.article_three{
				width: 33.33%;
				.article_title{
					height: 54px;
					overflow: hidden;
				}
				.article_container.credit_container{
					.acf-media-credit{
						bottom: initial; 
						top: 150px;
					}
				}
			}
			&.article_four{
				width: 25%;
				.article_title{
					height: 86px;
    				overflow: hidden;
				}
				.article_container.credit_container{
					.acf-media-credit{
						bottom: initial; 
						top: 98px;
					}
				}
			}
			&.article_full_right{
				width: 100%;
				position: relative;
				display: flex;
				.img_container{
					display: inline-block;
    				height: 100%;
					width: 60%;
					background-size: cover;
					background-position: 50%;
				}
				.content_block{
					width: 40%;
					background-color: $black;
					color: $white;
					float:right;
					height: 100%;
				    padding: 6px 30px;
			        min-height: 480px;
					.article_title{
						font-size: 33px;
						color:$white;
    					font-family: 'gotham_htfmedium';
					}
				}
				.article_container.credit_container{
					.acf-media-credit{
						bottom: 8px; 
						right: 43%;
					}
				}
				img{
					width: 75%;
					float:left; 
				}
			}
			&.article_four_text{
				width: 50%;
				float:left;
				.article_container{
					border-bottom:0px;
					display: flex;
				}
				img{
					width: 50%;
					float:left;
				}
				.content_block{
					width: 100%;
					float:left;
					padding: 0px;
					position: relative;
					margin-top: -3px;
					&:after{
						content:'';
						position: absolute;
						bottom: 0;
						left: 50%;
						width: 100%;
						background: $black;
						height: 3px;
						transform: translateX(-50%);
					}
					.article_title{
						margin-top: 18px;
						font-size: 17px;
						line-height: 22px;
						max-height: 86px;
						overflow: hidden;
					}
					.display_date{
						bottom: -6px;
					}
				}
				.article_container.credit_container{
					.acf-media-credit{
						bottom: initial; 
						top: 238px;
					}
				}
			}
			&.article_full{
				width: 100%;
				.article_container{
					border-bottom: 0px;
				}
				.article_title{
					font-size: 72px;
					line-height: 80px;
					margin-top: 0px;
				}
				.article_container.credit_container{
					.acf-media-credit{
					    top: 520px;
					    right: 30px;
					}
				}
			}
		}
	}
	&.listen_category{
		.category_container{
			.article{
				.article_container{
					a{
						height: 110px;
					}
				}
			}
		}
	}
	.pagination{
		.pagination_container{
			margin: 0 auto;
			text-align: center;
			font-size: 21px;
			text-transform: uppercase;
			.navigation{
				.page-numbers,
				.current{
					line-height: 80px;
					padding: 0 10px;
					color: rgba($black, 0.2);
					&:hover{
						color: $black;
					}
				}
				.current,
				.next,
				.prev{
					color:$black;
					.icon-arrow-left{
						font-size: 11px;						
						position: relative;
						top: -5px;
						margin-left: 0px;
						margin-right: 10px;
					}
					.icon-arrow-right{
						font-size: 11px;						
						position: relative;
						top: -5px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

#read,
#read_category_display{
	overflow:hidden;
	.container{
		overflow:hidden;
	}
}

@media screen and (max-width:1100px){
	.category{
		.category_container{
			.article.article_three{
				width: 50%;
			}
		}
	}
}
@media screen and (max-width: $tablet){

	.category{
		.sidebar_category{
			display: none;
		}
		.category_container{
			width: 100%;
		}
		.category_container{
			.article{
				.article_container{
					width: 100%;
				}
				&.article_full_right{
					position: relative;
					.content_block{
						position: absolute;
						right: 0;
						width: 35%; 
					}
					img{
						width: 100%;
						float: left;
						margin-left: -26%;
					}
				}
				&.article_four_text{
					.content_block{
						.article_title{
							max-height: 46px;
  							@include multiLineEllipsis($lineHeight: 22px, $lineCount: 2, $bgColor: white);  
						}
					}
				}
				&.article_four{
					.article_title{
					    min-height: 44px;
					    margin-bottom: 6px;
						@include multiLineEllipsis($lineHeight: 22px, $lineCount: 2, $bgColor: white);  
					}
				}
			}
		}
	}
	.listen_category{
		.listen_top{
			.page_title_container{
				.page_title{
					border-right: none;
				}
			}
		}
		.category{
			.category_container{
				.article{
					.article_container{
						.article_artist{
							font-size: 38px;
							transform: translateY(-24px);
						}
						.article_title{
							font-size: 28px;
							max-width: 305px;
							overflow: hidden;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile){
	.title-wrapper{
		display: inline-block;
		overflow: hidden;
		position: absolute;
	    overflow: hidden;
	    left: 50px;
	    width: calc(100% - 30px - 100px);
		.title-list {
			position:relative;
			display:inline-block;
			list-style:none;
			margin: 0;
			width: 777px!important;
			padding: 0;
			padding-right: 20px;
		}
		.not-clone{
			// transition: left 0.4s linear;
		}

		.title-list.cloned {
			position:absolute;
			top:0;
			left:0;
			margin: 0;
		}
		.title-list li {
			float:left;
			font-size:30px;
		}
	}

	
	.category{
		.category_container{
			.article{
				&.article_two,
				&.article_three,
				&.article_four,
				&.article_four_text{
					width: 100%;
					img{
						width: 100%;
					}
					.content_block{
						width: 100%;
						padding: 0;
						margin-top: 0;
						height: auto;
						&:after{
							width: 100%;
						}
						.article_title{
							margin-top: initial;
						}
					}
				}
				&.article_full_right{
					img{
						margin-left: 0;
					}
					.content_block{
						position: initial; 
						width: 100%;
						padding: 20px;
						.article_title{
							font-size: 22px;
						}
					}
				}
				&.article_full{
					.article_title{
						font-size: 42px;
						line-height: 48px;
					}
				}
			}
		}
	}
	.read_category{
		.read_top{
			.page_title_container{
				.page_title{
					width: 100%;
				}
			}
			.switch{
				display: none;
			}
		}
		.category_article{
			left: 10px;
		}
	}
	.listen_category{
		.listen_top{
			.switch{
				display: none;
			}
			.page_title_container{
				.page_title{
					font-size: 13px;
					width: 100%;
				}
			}
		}
		.category{
			.category_container{
				.article{
					.article_container{
						line-height: 34px;
						.icon-container{
							width: 50px;
							.icon-play{
								left: 11px;
							}
						}
						.article_artist{
							font-size: 22px;
							margin-left: 0;
							margin-top: 0;
							padding-top: 3px;
							transform: translateY(0);
						}
						.article_title{
							font-size: 18px;
							display: block;
							padding-left: 0px;
							span{
								display: none;
							}
						}
						.icon-play{
							top: 15px;
							left: -15px;
						}
						.date_container{
							width: 90px;
							.display_date{
								right: 10px;
							}
						}
					}
				}
			}
		}
	}
}

