//ARTICLE TOP
.article_top{
	display: flex;
	border-bottom: 1px solid $light-grey;
	.back_btn_container{
		flex:1;
		max-width:165px;
		min-width: 130px;
		font-size: 14px;
		border-right: 1px solid $light-grey;
		text-align: center;
		line-height: 76px;
		.back_btn{
			&:hover{
				cursor: pointer
			}
		}
		a{
			color: $black;
			font-family: 'gotham_htfmedium';
		}
		i{
			padding-right: 20px;
			font-size: 11px;
		}
	}
	.page_title_container{
		flex:1;
		text-transform: uppercase;
		.page_title{
			font-size: 16px;
			line-height: 76px;
			padding: 0 52px;
			font-weight: 500;
			letter-spacing: 1px;
			max-width: 652px;
			overflow: hidden;
			span{
				float: left;
			}
			.data_artist{
				display: inline-block;
			    white-space: nowrap;
			    float: left;
			    width: 30%;
			    padding-left: 20px;
			}
		}
	}
	.share_article{
		position: relative;
		width: 316px;
		text-align: center;
		border-left: 1px solid $light-grey;
		line-height: 76px;
		font-family: 'gotham_htfmedium';
		font-size: 14px;
		.link_alert{
			position: absolute;
			display: inline-block;
			top: 22px;
			right: -40px;
			background-color: $black;
			color: $white;
			padding: 0 10px;
			height: 30px;
			line-height: 30px;
			padding-left: 8px;
			font-size: 13px;
			letter-spacing: 1px;
			visibility: hidden;
			opacity: 0;
			transition: all 0.4s ease;

			&:before{
				content:'';
				position: absolute;
				left: -14px;
				top: 0px;
				width: 0; 
				height: 0; 
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent; 
				border-right: 15px solid $black; 
			}
			&.visible{
				visibility: visible;
				opacity: 1;
				right: -46px;
				transition: all 0.4s ease;

			}
		}
		ul{
			display:inline-block;
			margin: 0;
			padding-left: 10px;
			li{
				display: inline-block;
				list-style-type: none;
				margin: 0 5px;
				a{
					color: $black;
				}
				.icon-mail{
					font-size:11px;
				}
			}
		}
	}
	.date_infos{
		font-size: 14px;
		color: $dark-grey;
		border-left: 1px solid $light-grey;
		text-align: center;
		line-height: 76px;
		min-width: 145px;
		font-family: 'libre_baskervilleregular';
	}
}
.article_top{
	.video_info_container{
		width: 50%;
		display: inline-block;
		float: left;
		.video_title{
			font-size: 72px;
			font-family: 'Playfair Display', serif;
			line-height: 130px;
			padding: 0 30px;
		}
	}
	.video_content{
		width: 50%;
		padding: 30px;
		font-family: 'libre_baskervilleregular';
		font-size: 17px;
		line-height: 30px;
		p{
			margin-top: 0;
		}
	}
}

.related_post{
	overflow: hidden;
	.related_title{
		font-family: 'Oswald', sans-serif; 
		font-size: 17px;
		text-transform: uppercase;
		line-height: 76px;
		padding-left: 30px;
		padding-right: 0;
		border-bottom: 1px solid $light-grey;
		.bloc_title{
			display: inline-block;
		}
		.switch{
			width: auto;
			float: right;
		}
	}
	.related_content{
		padding-top: 30px;
		overflow: hidden;
	}
	.article{
		width: 20%;
		display: inline-block;
		float: left;
		.article_title{
			height: 86px;
			overflow: hidden;
			margin-top:0px;
		}
	}
}


@media screen and (max-width: $tablet){
	.back_btn_container{
		display: none;
	}
	.article_top{
		flex-direction: column;
		position: relative;
		.listen_info_container,
		.listen_player{
			width: 100%;
		}
		.share_article{
			width: 100%;
			border-top: 1px solid $light-grey;
			border-bottom: 1px solid $light-grey;
		}
		.date_infos{
			position: absolute;
			top: 0;
			right: 0;
			width: 20%;
		}
		.page_title_container{
			max-width: 80%;
			overflow: hidden;
			.page_title{
				padding: 0 20px;
				overflow: hidden;
			}
		}
	}
	.listen_main{
		display: flex;
		flex-direction: column;
		.listen_content{
			.listen_title{
				width: 50%;
				max-width: 50%;
				min-width: 50%;
			}
		}
	}
	.half{
		width: 100%;
		&:first-of-type{
			order: 2;
		}
		&:last-of-type{
			order: 1;
		}
	}
	.related_post{
		.article{
			padding: 0 20px;
		}
	}
}
		
//Video post
.video_post{
	.clip_container{
		position: relative;
		overflow: hidden;
		&:hover{
			cursor: pointer;
		}
		.play_btn{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 50px;
			width: 50px;
			transform: translate(-50%, -50%);
			border: 1px solid $white;
			border-radius: 100px;
			text-align: center;
			line-height: 50px;
			.icon-play{
				color: white;
			}
		}
		img{
			width: 100%;
		}
		.acf-media-credit{
			bottom: 10px; 
			right: 26px;
		}
		.embed_youtube{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: -1;
		}
	}
	.video_top{
		display: flex;
		.video_info_container{
			width: 50%;
			display: inline-block;
			float: left;
			.video_title{
				font-size: 72px;
				font-family: 'Playfair Display', serif;
				line-height: 130px;
				padding: 0 30px;
			}
		}
		.video_content{
			width: 50%;
			padding: 30px;
			font-family: 'libre_baskervilleregular';
			font-size: 17px;
			line-height: 30px;
			p{
				margin-top: 0;
			}
		}
	}

	.listen_main{
		overflow: hidden;
		.listen_main_description{
			padding: 30px;
    		font-family: 'libre_baskervilleregular';
    		font-size: 17px;
    		line-height: 30px;
		}
		.listen_content{
			display: flex;
			border-bottom: 1px solid $light-grey;
			.listen_title{
				padding: 30px;
				font-size: 18px;
				border-right: 1px solid $light-grey;
				border-left: 1px solid $light-grey;
				min-width: 222px;
				max-width: 222px;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			.listen_description{
				padding: 30px;
				font-family: 'Playfair Display', serif;

				p{
					margin: 0;
				}
			}
		}		
	}
}






@media screen and (max-width: 1120px){
	.article_top{
		.share_article{
			.share{
				display: none;
			}
		}
		.page_title_container{
			width: 55%;
			.page_title{
				padding: 0 20px;
			}
		}
	}
}

@media screen and (max-width:1100px){
	
}


@media screen and (max-width: $tablet){

	.article_top{
		.share_article{
			.share{
				display: inline-block;
			}
		}
		.page_title_container{
			width: 100%;
		}
	}
	.listen_post{
		.listen_top{
			flex-direction: column;
			.listen_info_container,
			.listen_player{
				width: 100%;
			}
		}
	} 
	.half{
		width: 100%;
		&:first-of-type{
			order: 2;
		}
		&:last-of-type{
			order: 1;
		}
	}
	.video_post{
		.video_top{
			.video_info_container{
				.video_title{
					font-size: 72px;
					line-height: 90px;
				}
			}
		}
	}
	.related_post{
		.related_title{
			font-size: 18px;
			padding-left: 20px;
			.switch{
				display: none;
			}
		}
		.article{
			width: 25%;
		}
	}
	
}
@media screen and (max-width: $mobile){

	.article_top{
		.share_article{
			width: 50%;	
			border-left: none;
			border-top: none;
			border-bottom: none; 
			.share{
				display: none;
			}
		}
		.date_infos{
			top: initial;
			bottom: 0;
		}
		.page_title_container{
			border-bottom: 1px solid $light-grey; 
			max-width: 100%;
			.page_title{
				font-size: 15px;
				line-height: 46px;
				max-width: 100%;
				.data_artist{
					display: inline-block;
					white-space: normal;
					width: auto;
					padding-left: 0;
				}
			}
		}
	}
	.video_post{
		.video_top{
			display: initial;
			.video_info_container{
				width: 100%;
				float: none;
				border-bottom: 1px solid $light-grey; 
				.video_title{
				    font-size: 32px;
				    line-height: 60px;
				    padding: 0 20px;
				}
			}
			.video_content{
				width: 100%;
				padding: 20px;
			}
		}
	}
	.related_post{
		.related_title{
			font-size: 13px;
			padding-left: 20px;
			.switch{
				display: none;
			}
		}
		.article{
			width: 50%;
		}
	}
}


